.TitlePart {
    padding: 100px 0px 100px 0px;
    display: flex;
    justify-content: center;
}

.TitlePart__titleImg {
    width: 100%;
}

@media (max-width: 900px) {
    .TitlePart {
        padding: 10px 0px 10px 0px;
    }
}