.container {
    padding: 60px 230px 160px 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.swiper {
    width: 100% !important;
    margin-top: 80px !important;
}
  
.swiper_slide {
    background-position: center !important;
    background-size: cover !important;
    width: 600px !important;
    height: 700px !important;
}

.ninth__card {
    position: relative;
    text-align: initial;
}

.ninth__card_img {
    width: 100%;
    height: 100%;
}

.ninth__card div {
    position: absolute;
    bottom: 64px;
    left: 64px;
}

.ninth__card div h2 {
    font-size: 32px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 14px;
}

.ninth__card div h4 {
    font-size: 20px;
    font-weight: 300;
    color: #F2C94C;
}

.ninth__slider_adap {
    display: none;
}

.swiper_two {
    width: 400px !important;
}

.swiper_slide_two {
    background-position: center !important;
    background-size: cover !important;
    width: 400px !important;
    height: 500px !important;
}

@media (max-width: 1800px) {
    .swiper_slide {
        width: 500px !important;
        height: 600px !important;
    }
}

@media (max-width: 1680px) {
    .container {
        padding: 60px 40px 160px 40px;
    }
}

@media (max-width: 1500px) {
    .container {
        padding: 60px 40px 60px 40px;
    }

    .swiper {
        margin-top: 0px !important;
    }

    .swiper_slide {
        width: 400px !important;
        height: 500px !important;
    }
}

@media (max-width: 1200px) {
    .ninth__slider {
        display: none;
    }

    .ninth__slider_adap {
        display: block;
    }

    .swiper_two {
        margin-top: 20px !important;
    }
}

@media (max-width: 450px) {
    .container {
        padding: 50px 0px 50px 0px;
    }

    .swiper_two {
        width: 100% !important;
    }
    
    .swiper_slide_two {
        width: 100% !important;
        height: 100% !important;
    }

    .ninth__card div {
        bottom: 24px;
        left: 24px;
    }
    
    .ninth__card div h2 {
        font-size: 20px;
        margin-bottom: 10px;
    }
    
    .ninth__card div h4 {
        font-size: 14px;
    }
}