.container {
    padding: 130px 0px 100px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 80px;
    text-align: center;
}

.fourth__container_cont {
    width: 100%;
    overflow-x: scroll;
}

.fourth__container_cont::-webkit-scrollbar {
    width: 0;
    height: 0;
    /* margin-top: 10px;
    height: 6px; */
}

.fourth__container_cont::-webkit-scrollbar-track {
    background-color: rgba(124, 124, 124, 0.129);
}

.fourth__container_cont::-webkit-scrollbar-thumb {
    background-color: #F2C94C;
}

.fourth__content {
    padding: 0px 20px;
    width: 3000px;
}

.line {
    width: 3000px;
    height: 1px;
    background-color: #696969;
}

.fourth__content_top {
    display: flex;
    column-gap: 200px;
}

.fourth__content_bottom {
    display: flex;
    column-gap: 200px;
    float: right;
}

.fourth__content div p {
    position: relative;
    display: inline-block;
    padding: 16px 36px;
    background-color: #2A524C;
    border-radius: 20px;
    text-align: center;
    font-size: 24px;
    color: #fff;
}

.fourth__content_top p {
    margin-bottom: 32px;
}

.fourth__content_top p::before {
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translate(-50%, 0);
    display: block;
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #F2C94C;
    border: 3px solid #fcebb8;
}

.fourth__content_bottom p {
    margin-top: 32px;
}

.fourth__content_bottom p::before {
    position: absolute;
    top: -39px;
    left: 50%;
    transform: translate(-50%, 0);
    display: block;
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #F2C94C;
    border: 3px solid #fcebb8;
}

@media (max-width: 1000px) {
    .container {
        padding: 10px 0px 10px 0px;
        row-gap: 80px;
    }

    .fourth__container_cont {
        height: 700px;
        overflow-y: scroll;
    }

    .fourth__content {
        padding: 0px 0px;
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .line {
        height: 2000px;
        width: 1px;
        background-color: #696969;
    }

    .fourth__content_top {
        flex-direction: column;
        row-gap: 190px;
    }
    
    .fourth__content_bottom {
        flex-direction: column;
        row-gap: 200px;
        margin-top: 120px;
    }

    .fourth__content div p {
        padding: 16px 24px;
        width: 250px;
        font-size: 24px;
    }

    .fourth__content_top p {
        margin-right: 60px;
    }

    .fourth__content_top p::before {
        top: 50%;
        left: 303px;
        transform: translate(0, -50%);
    }

    .fourth__content_bottom p {
        margin-left: 60px;
    }

    .fourth__content_bottom p::before {
        top: 50%;
        left: -68px;
        transform: translate(0, -50%);
    }
}

@media (max-width: 660px) {
    .container {
        padding: 10px 0px 40px 0px;
        row-gap: 40px;
    }

    .fourth__content div p {
        padding: 16px 24px;
        width: 150px;
        font-size: 16px;
    }

    .fourth__content_top p {
        margin-right: 30px;
    }

    .fourth__content_top p::before {
        left: 174px;
    }

    .fourth__content_bottom p {
        margin-left: 30px;
    }

    .fourth__content_bottom p::before {
        left: -38px;
    }

    .line {
        height: 1700px;
    }
}

@media (max-width: 400px) {
    .fourth__content_top p {
        margin-right: 15px;
    }

    .fourth__content_top p::before {
        left: 159px;
    }

    .fourth__content_bottom p {
        margin-left: 15px;
    }

    .fourth__content_bottom p::before {
        left: -23px;
    }
}

@media (max-width: 370px) {
    .fourth__content div p {
        padding: 6px 5px;
        width: 120px;
        font-size: 12px;
    }

    .fourth__content_top p {
        margin-right: 10px;
    }

    .fourth__content_top p::before {
        left: 126px;
        width: 5px;
        height: 5px;
        border: 2px solid #fcebb8;
    }

    .fourth__content_top {
        row-gap: 100px;
    }

    .fourth__content_bottom {
        row-gap: 100px;
        margin-top: 30px;
    }

    .fourth__content_bottom p {
        margin-left: 10px;
    }

    .fourth__content_bottom p::before {
        left: -15px;
        width: 5px;
        height: 5px;
        border: 2px solid #fcebb8;
    }

    .line {
        height: 900px;
    }
}