.container__btn {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.container__btn div {
    display: inline-block;
    padding: 20px;
    position: absolute;
    border-radius: 50%;
    border: 1px solid #F2C94C;
    z-index: -1;
    transition: all .5s;
}

.container__btn:hover div {
    background-color: #F2C94C;
    box-shadow: 0px 0px 10px #F2C94C,  0px 0px 15px #daae2a;
}

.container__btn button {
    padding: 14px 0px 14px 17px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    color: #2A524C;
}

@media (max-width: 1800px) { 
    .container__btn div {
        padding: 16px;
    }
    
    .container__btn button {
        padding: 12px 0px 0px 15px;
        font-size: 12px;
    }
}