.container {
    padding: 0px 165px 160px 165px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.third__content {
    display: flex;
    column-gap: 160px;
    align-items: center;
    margin-top: 64px;
}

.third__card_conteiner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 140px;
}

.third__card {
    width: 372px;
    height: 319px;
    padding: 32px 56px;
    border: 1px solid #2A524C;
    border-radius: 40px;
    transition: all 0.1s;
}

.third__card:hover {
    animation: glow 1s ease-in-out infinite alternate;
    border: 1px solid #F2C94C;
}

.third__card div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 190px;
    margin-bottom: 16px;
}

.third__card div span {
    font-size: 16px;
    color: #323232;
}

.third__card h4 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 19px;
    color: #2A524C;
}

.third__card ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 12px;
}

.third__card ul li {
    padding-left: 2rem;
    background-image: url(../../../public/third/check-circle.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
    font-size: 22px;
}

.third__img {
    position: relative;
}

.glow {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 240px;
    height: 240px;
    background-color: #F2C94C;
    border-radius: 50%;
    animation: glowTwo 1s ease-in-out infinite alternate;
    z-index: -1;
}

@keyframes glow {
    from {
      box-shadow: 0 0 0px #F2C94C;
    }
    to {
      box-shadow: 0 0 20px #F2C94C;
    }
  }

  @keyframes glowTwo {
    from {
      box-shadow: 0 0 20px #F2C94C;
    }
    to {
      box-shadow: 0 0 80px #F2C94C, 0 0 100px #F2C94C, 0 0 120px #F2C94C;
    }
  }

@media (max-width: 1880px) {
    .container {
        padding: 0px 0px 160px 0px;
    }
}

@media (max-width: 1800px) {
    .third__content {
        column-gap: 100px;
    }

    .third__card_conteiner {
        row-gap: 120px;
    }
    
    .third__card {
        width: 330px;
        height: 300px;
    }
    
    .third__card div {
        margin-bottom: 14px;
    }
    
    .third__card div span {
        font-size: 14px;
    }
    
    .third__card h4 {
        font-size: 28px;
        margin-bottom: 15px;
    }
    
    .third__card ul {
        row-gap: 12px;
    }
    
    .third__card ul li {
        font-size: 18px;
    }

    .third__bulb {
        width: 350px;
        height: 350px;
    }

    .glow {
        top: 40px;
        width: 180px;
        height: 180px;
    }

    .card__logo {
        width: 40px;
    }
}

@media (max-width: 1460px) {
    .third__content {
        flex-direction: column;
        align-items: center;
    }

    .third__card_conteiner {
        flex-direction: row;
        column-gap: 140px;
    }

    .third__bulb {
        width: 300px;
        height: 300px;
    }

    .glow {
        top: 40px;
        width: 140px;
        height: 140px;
    }
}

@media (max-width: 900px) {
    .container {
        padding: 0px 0px 20px 0px;
    }

    .third__card_conteiner {
        flex-direction: column;
        row-gap: 30px;
    }

    .third__card {
        width: 100%;
    }
}

@media (max-width: 400px) {
    .third__card {
        padding: 32px 40px;
    }
}

@media (max-width: 350px) {
    .third__card div {
        column-gap: 0px;
    }

    .third__card {
        height: 260px;
        padding: 20px 22px;
    }

    .third__card h4 {
        width: 200px;
        font-size: 25px;
    }
    
    .third__card ul {
        width: 150px;
        row-gap: 12px;
    }
    
    .third__card ul li {
        font-size: 18px;
    }

    .third__bulb {
        width: 100%;
        height: 300px;
    }
}