.first {
    position: relative;
}

.container {
    display: flex;
    justify-content: space-between;
}

.first__title {
    margin-top: 190px;
    margin-left: 40px;
}

.first__title h1 {
    font-size: 140px;
    line-height: 170px;
    color: #2A524C;
}

.first__btn {
    display: flex;
    column-gap: 40px;
    margin-top: 75px;
    margin-left: 500px;
}

.first__btn_one {
    padding: 14px 34px;
    background-color: #F2C94C;
    color: #fff !important;
    border-radius: 60px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    color: #2A524C;
    transition: all 0.5s;
}

.first__btn_one:hover {
    background-color: #F2C94C;
    box-shadow: 0px 0px 10px #F2C94C,  0px 0px 15px #daae2a;
}

.first__img {
    position: relative;
    width: 40%;
}

.circles div {
    position: absolute;
}

.circles div:nth-child(1) {
    width: 50px;
    right: 170px;
    top: 100px;
}

.circles div:nth-child(2) {
    right: 270px;
}

.circles div:nth-child(3) {
    width: 30px;
    top: 120px;
    right: 320px;
}

.circles div:nth-child(4) {
    top: 90px;
    left: 130px;
}

.circle {
    width: 100%;
}

.bulb {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100%;
}

@media (max-width: 1690px) {
    .circles {
        display: none;
    }

    .bulb {
        top: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
    }

    .first__title h1 {
        font-size: 140px;
        line-height: 170px;
        color: #2A524C;
    }

    .first__btn {
        margin-left: 0px;
    }
}

@media (max-width: 1480px) {
    .first__title h1 {
        font-size: 100px;
        line-height: 130px;
        color: #2A524C;
    }
}

@media (max-width: 1400px) {
    .container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 0 auto;
    }

    .first__img {
        margin: 0 auto;
    }

    .first__title {
        grid-row-end: 5;
        margin-top: 0px;
    }

    .bulb {
        position: initial;
        transform: translate(0px, 0px);
        width: 100%;
    }
}

@media (max-width: 890px) {
    .first__title h1 {
        font-size: 54px;
        line-height: 52px;
    }

    .first__img {
        width: 300px;
    }
}

@media (max-width: 350px) {
    .first__title {
        margin: 0;
        text-align: center;
    }

    .first__btn {
        display: flex;
        row-gap: 20px;
        flex-direction: column;
        justify-content: center;
        margin-top: 20px;
    }

    .first__img {
        width: 100%;
    }
}