.Eighth {
    padding: 100px 170px 100px 63px;
    text-align: center;
}

.Eighth__cont {
    display: flex;
    column-gap: 88px;
    margin-top: 96px;
    text-align: initial;
}

.Eighth__img-wrapper {
    display: flex;
    align-items: flex-end;
    column-gap: 24px;
}

.Eight__info {
    padding: 143px 0px 262px 0px;
}

.Eight__info h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 16px;
}

.Eight__info h4 {
    font-size: 20px;
    font-weight: 400;
    color: #F2C94C;
    margin-bottom: 89px;
}

.Eight__info p {
    width: 411px;
    font-size: 18px;
    font-weight: 400;
    color: #323232;
}

@media (max-width: 1910px) {
    .Eighth {
        padding: 100px 0px 100px 0px;
    }
    
    .Eighth__cont {
        justify-content: center;
    }

    .Eighth__img-wrapper {
        display: block;
    }

    .Eighth__broski {
        display: none;
    }
}

@media (max-width: 900px) {
    .Eighth {
        text-align: center;
    }

    .Eighth__cont {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .Eighth__img-wrapper {
        width: 344px;
        height: 342px;
        margin-bottom: 22px;
    }

    .Eighth__broskiTwo {
        width: 100%;
        height: 100%;
    }

    .Eight__info {
        padding: 10px 0px 20px 0px;
    }

    .Eight__info h4 {
        margin-bottom: 24px;
    }

    .Eight__info p {
        width: 344px;
    }
}