.container {
    padding: 160px 73px 0px 73px;
}

.footer__top {
    display: flex;
    align-items: center;
    column-gap: 146px;
    margin-bottom: 70px;
}

.footer__comunication {
    display: flex;
    flex-direction: column;
    row-gap: 14px;
}

.footer__comunication h4 {
    font-size: 32px;
    font-weight: 700;
    color: #2A524C;
}

.footer__address h4 {
    margin-bottom: 19px;
    font-size: 32px;
    font-weight: 700;
    color: #2A524C;
}

.footer__top div a {
    font-size: 20px;
    font-weight: 300;
    color: #2A524C;
}

.footer__top div a:hover {
   text-decoration: underline;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.footer__bottom span {
    font-size: 16px;
    font-weight: 200;
    color: #2A524C;
}

.footer__bottom div {
    display: flex;
    align-items: center;
    column-gap: 38px;
}

.footer__bottom div a {
    font-size: 16px;
    font-weight: 200;
    color: #2A524C;
}

.footer__bottom div a:hover {
    text-decoration: underline;
}

@media (max-width: 700px) {
    .container {
        text-align: center;
    }

    .footer__top {
        margin-bottom: 40px; 
        flex-direction: column;
        row-gap: 30px;
    }
    
    .footer__bottom {
        flex-direction: column;
        row-gap: 20px;
        align-items: center;
    }
}