.left_menu {
    position: fixed;
    top: 0;
    left: 0;
    border-right: 1px solid #EDEEE9;
}

.container {
    padding: 296px 38px 251px 38px;
    display: flex;
    width: 90px;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
}

.container p {
    font-size: 14px;
    font-weight: 300;
    writing-mode:vertical-lr;
    /* transform: rotate(-90deg); */
}

.left_menu__line {
    height: 350px;
    width: 1px;
    background-color: #656565;
}

.left_menu__arrows {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 16px;
}

@media (max-width: 900px) {
    .left_menu {
        display: none;
    }
}