.container {
    width: 100%;
    padding: 160px 80px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}

.container div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 600;
    font-size: 160px;
    color: #2A524C;
}

.container div span {
    font-size: 32px;
    color: #323232;
}

@media (max-width: 1800px) {
    .container div {
        width: 200px;
        font-size: 120px;
    }
}

@media (max-width: 800px) {
    .container {
        padding: 60px 0px;
        justify-content: center;
    }

    .container div {
        width: 150px;
        font-size: 96px;
    }
}