.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tenth__contacts {
    padding: 0px 0px 0px 120px;
    width: 800px;
    display: flex;
    flex-direction: column;
    row-gap: 55px;
}

.tenth__checkbox {
    display: flex;
    align-items: center;
    column-gap: 24px;
    /* margin-top: 40px;
    margin-bottom: 64px; */
}

.tenth__checkbox div {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.tenth__checkbox div input {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.tenth__checkbox div p {
    font-size: 16px;
    color: #2A524C;
}

.tenth__input_top {
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 32px;
}

.tenth__input {
    position: relative;
    width: 100%;
}


.tenth__input input{
    width: 100%;
    padding-bottom: 2px;
    border: none;
    border-bottom: 1px solid #E0E0E0;
    outline: none;
    font-size: 16px;
    margin-top: 16px;
    transition: all .5s;
}

.tenth__input:focus-within input {
    border-bottom: 1px solid #F2C94C;
}

.tenth__input:focus-within span {
    color: #F2C94C !important;
}

.tenth__input span {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    color: #2A524C;
    pointer-events: none;
    transition: all .5s;
}

.tenth__btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tenth__btn {
    padding: 14px 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 6px;
    cursor: pointer;
}

.tenth__btn:hover button {
    color: #F2C94C;
}

.tenth__btn button {
    font-size: 16px;
    color: #2A524C;
    font-weight: 600;
    cursor: pointer;
    transition: all .5s;
}

.map {
    border: none;
}

@media (max-width: 1880px) {
    .map {
        width: 800px;
        height: 750px;
    }
}

@media (max-width: 1780px) {
    .map {
        width: 600px;
        height: 550px;
    }

    .tenth__btn button {
        font-size: 12px;
    }
}

@media (max-width: 1620px) {
    .container {
        flex-direction: column;
        row-gap: 40px;
    }
    
    .tenth__contacts {
        padding: 0px 0px 0px 0px;
    }

    .map {
        width: 800px;
        height: 750px;
    }
}

@media (max-width: 1000px) {
    .tenth__contacts {
        width: 500px;
        row-gap: 32px;
    }

    .tenth__checkbox {
        flex-wrap: wrap;
        row-gap: 10px;
    } 

    .tenth__input_top {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 32px;
    }

    .map {
        width: 500px;
        height: 450px;
    }

    .tenth__btns div {
        display: none;
    }
}

@media (max-width: 550px) {
    .tenth__contacts {
        width: 100%;
    }

    .map {
        width: 100%;
        height: 320px;
    }
}