.container {
    padding: 140px 42px;
}

.seventh__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 56px;
}

.seventh__nav div {
    display: flex;
    align-items: center;
    column-gap: 60px;
}

.seventh__nav div a {
    position: relative;
    font-size: 16px;
    font-weight: 500;
    padding: 15px 10px;
    text-transform: uppercase;
    color: #06171E;
}

.seventh__nav div a:hover {
    color: #F2C94C;
}

.seventh__nav div a:hover span {
    color: #F2C94C;
}

.seventh__nav div a span {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 14px;
    font-weight: 400;
}

.seventh__card_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 50px;
    row-gap: 60px;
    margin-bottom: 60px;
}

.seventh__card div {
    padding: 24px 16px;
}

.seventh__card div span {
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    color: #F2C94C;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.seventh__card div h4 {
    font-size: 24px;
    font-weight: 600;
    text-transform:capitalize;
}

.seventh__slider {
    display: none;
}

@media (max-width: 1260px) {
    .seventh__nav {
        flex-direction: column;
        row-gap: 20px;
        margin-bottom: 36px;
    }

}

@media (max-width: 900px) {
    .container {
        padding: 20px 0px;
    }

    .seventh__nav div {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 400px) {
    .seventh__nav {
        align-items: initial;
        justify-content: initial;
    }

    .main__title_Seventh {
        width: 185px;
    }

   .seventh__card_container {
    display: none;
   }

   .seventh__nav div {
    display: none;
   }

   .seventh__slider {
     display: block;
    }

   .center_no {
    display: block;
   }

   .seventh__card {
    width: 100%;
   }
}

@media (max-width: 360px) {
    .seventh__card_img {
        height: 350px;
    }
}